<?xml version='1.0' encoding='utf-8'?>

<!--
    !!!!!!! This file created by Chef !!!!!!!
    Any edits to this file will be overwritten
-->
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- The contents of this file will be loaded for each web application -->
<Context
  antiResourceLocking="true"
  allowCasualMultipartParsing="false"
  backgroundProcessorDelay="-1">
    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <Manager pathname="" />
    <!-- 8.0.50 -->
    <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    <Environment
        name="development"
        type="java.lang.String"
        value="true"
        description=""
        override="true"
        />
    <Environment
        name="aqcu.mailbox.ttl.ms"
        type="java.lang.String"
        value="600000"
        description=""
        override="true"
        />
    <Environment
        name="aqcu.reports.webservice"
        type="java.lang.String"
        value="https://localhost:7500/"
        description=""
        override="true"
        />
    <Environment
        name="aqcu.report.timeout.ms"
        type="java.lang.String"
        value="600000"
        description=""
        override="true"
        />
    <Environment
        name="aqcu.lookup.timeout.ms"
        type="java.lang.String"
        value="120000"
        description=""
        override="true"
        />
    <Environment
        name="aqcu.circuitbreaker.interval.minutes"
        type="java.lang.String"
        value="15"
        description=""
        override="true"
        />
    <Environment
        name="aqcu.contract.test.timeout.ms"
        type="java.lang.String"
        value="120000"
        description=""
        override="true"
        />
    <Environment
        name="messaging.connection.retry.rate.ms"
        type="java.lang.String"
        value="15000"
        description=""
        override="true"
        />
    <Environment
        name="messaging.consumers.per.service"
        type="java.lang.String"
        value="10"
        description=""
        override="true"
        />
    <Environment
        name="messaging.service.host"
        type="java.lang.String"
        value="localhost"
        description=""
        override="true"
        />
    <Environment
        name="messaging.service.user"
        type="java.lang.String"
        value="docker"
        description=""
        override="true"
        />
    <Environment
        name="aquarius.service.endpoint"
        type="java.lang.String"
        value="PUT_AQUARIUS_ENDPOINT_HERE_WITH_/AQUARIUS/"
        description=""
        override="true"
        />
    <Environment
        name="aquarius.service.user"
        type="java.lang.String"
        value="PUT_AQUARIUS_USERNAME_HERE"
        description=""
        override="true"
        />
    <Environment
        name="nwis-ra.service.url"
        type="java.lang.String"
        value="https://localhost:8444/reporting-ws-core/service"
        description=""
        override="true"
        />
    <Environment
        name="nwis-ra.service.url.internal.route"
        type="java.lang.String"
        value="https://localhost:8444/reporting-ws-core/service"
        description=""
        override="true"
        />
    <Environment
        name="redis.disable"
        type="java.lang.String"
        value="true"
        description=""
        override="true"
        />
    <Environment
        name="redis.host"
        type="java.lang.String"
        value="localhost"
        description=""
        override="true"
        />
    <Environment
        name="redis.port"
        type="java.lang.String"
        value="6379"
        description=""
        override="true"
        />
    <Environment
        name="r.renderer.local"
        type="java.lang.String"
        value="false"
        description=""
        override="true"
        />
    <Environment
        name="rserve.host"
        type="java.lang.String"
        value="localhost"
        description=""
        override="true"
        />
    <Environment
        name="rserve.port"
        type="java.lang.String"
        value="6311"
        description=""
        override="true"
        />
    <Environment
        name="rserve.user"
        type="java.lang.String"
        value="rserve"
        description=""
        override="true"
        />
    <Environment
        name="rserve.timeout.ms"
        type="java.lang.String"
        value="120000"
        description=""
        override="true"
        />
    <Environment
        name="rserve.retry.interval.ms"
        type="java.lang.String"
        value="5000"
        description=""
        override="true"
        />
    <Environment
        name="nwis-ra.home"
        type="java.lang.String"
        value="https://localhost:8444/reporting-ui/"
        description=""
        override="true"
        />
    <Environment
        name="nwis-ra.service.url"
        type="java.lang.String"
        value="https://localhost:8444/reporting-ws-core/service"
        description=""
        override="true"
        />
    <Environment
        name="nwis/helpEmail"
        type="java.lang.String"
        value="example@usgs.gov"
        description=""
        override="true"
        />
    <Environment
        name="sims.base.url"
        type="java.lang.String"
        value="http://localhost:9999"
        description=""
        override="true"
        />
    <Environment
        name="waterdata.base.url"
        type="java.lang.String"
        value="https://waterdata.usgs.gov/nwis/inventory/"
        description=""
        override="true"
        />
    <Environment
        name="login.page"
        type="java.lang.String"
        value="https://localhost:8445/timeseries"
        description=""
        override="true"
        />
    <Environment
        name="oauthClientId"
        type="java.lang.String"
        value="local-client"
        description=""
        override="true"
        />
    <Environment
        name="oauthClientName"
        type="java.lang.String"
        value="local-client"
        description=""
        override="true"
        />
    <Environment
        name="aqcuOauthRedirectUriTemplate"
        type="java.lang.String"
        value="https://localhost:8445/timeseries/login/oauth2/code/waterAuth"
        description=""
        override="true"
        />
    <Environment
        name="oauthScope"
        type="java.lang.String"
        value="read"
        description=""
        override="true"
        />
    <Environment
        name="oauthClientAccessTokenUri"
        type="java.lang.String"
        value="https://localhost:8443/auth/oauth/token"
        description=""
        override="true"
        />
    <Environment
        name="oauthClientAuthorizationUri"
        type="java.lang.String"
        value="https://localhost:8443/auth/oauth/authorize"
        description=""
        override="true"
        />
    <Environment
        name="oauthResourceTokenKeyUri"
        type="java.lang.String"
        value="https://localhost:8443/auth/oauth/token_key"
        description=""
        override="true"
        />
    <Environment
        name="oauthResourceId"
        type="java.lang.String"
        value="local-app"
        description=""
        override="true"
        />
    <Environment
        name="aqcu.login.page"
        type="java.lang.String"
        value="oauth2/authorization/waterAuth"
        description=""
        override="true"
        />
    <Environment
        name="messaging.service.password"
        type="java.lang.String"
        value="docker"
        description=""
        override="true"
        />
    <Environment
        name="aquarius.service.password"
        type="java.lang.String"
        value="PUT_AQ_PASSWORD_HERE"
        description=""
        override="true"
        />
    <Environment
        name="rserve.pass"
        type="java.lang.String"
        value="rserve"
        description=""
        override="true"
        />
    <Environment
        name="redis.password"
        type="java.lang.String"
        value="redis"
        description=""
        override="true"
        />
    <Environment
        name="oauthClientSecret"
        type="java.lang.String"
        value="changeMe"
        description=""
        override="true"
        />
</Context>
